<navigation></navigation>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="col-md-6 offset-md-6 rounded" style="background: rgba(255, 255, 255, 0.8); padding: 10px 0;">
            <h1 class="display-4">Plan your future, we'll protect it.</h1>
            <hr >
            <p class="lead">Remember that the right coverage can protect you and your family, and price is always important in this economy. </p>
            <br>
        </div>
    </div>
</div>

<footer id="footer" class="container-fluid">
    <p>© 2017 Opardo All Rights Reserved</p>
</footer>