<div class="row row-50-pad">
    <div class="col-md-8 offset-md-2">
        <h1 class="display-2 text-center">Our services</h1>
        <p class="lead text-left">We are a full-service, independent insurance agency whose job is to make sure you and your property are properly
            protected. </p>
        <p class="lead text-left"> By representing competing insurance companies, we offer choices and options. This allows us to craft a personalized
            insurance plan that fits your individual needs and budget.</p>
    </div>
</div>
<div class="row row-50-pad-inverse">
    <h1 class="display-2 text-center col-md-12">Contact us</h1>
    <div class="col-md-4">
        <h1 class="display-4 text-center">By Phone</h1>
        <p class="text-center"><i class="fa fa-phone fa-8" aria-hidden="true"></i>
            <p class="lead text-center">(786) 581-9666</p>
    </div>
    <div class="col-md-4">
        <h1 class="display-4 text-center">In Person</h1>
        <p class="text-center"><i class="fa fa-map-pin fa-8" aria-hidden="true"></i>
            <p class="lead text-center">3620 NW 27th Ave <br> Miami, Fl 33142</p>
    </div>
    <div class="col-md-4">
        <h1 class="display-4 text-center">By Email</h1>
        <p class="text-center"><i class="fa fa-envelope fa-8" aria-hidden="true"></i>
            <p class="lead text-center">info@arenaagency.com</p>
    </div>
</div>